.container{
    display: flex;
    flex-direction: column;
}
.eeveelutions{
display: flex;
flex-direction: row;
}
.sylveonnumbreon{
    width: 400px
}
.flareonnespeon{
    width: 400px
}
.leafeonnjolteon{
    width:400px
}
.eeveenpic{
    display: flex;
    flex-direction: row;
}
.title{
    background-color: rgb(177, 236, 255);
    color: white;
}
.waterstone{
    display: flex;
    flex-direction: row;
}
.thunderstone{
    display: flex;
    flex-direction: row;
}
.firestone{
    display: flex;
    flex-direction: row;
}
.sunshard{
    display: flex;
    flex-direction: row;
}
.moonshard{
    display: flex;
    flex-direction: row;
}
.leafstone{
    display: flex;
    flex-direction: row;
}
.icestone{
    display: flex;
    flex-direction: row;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.howtoevolve{
    display: flex;
    flex-direction: column;
}
.shiny{
    display: flex;
    flex-direction: row;

}
.howtogetshiny{
    margin-left: 500px;
}
button {
    border: none;
    background-color: pink;
}
.tom {
    width: 5px;
}
.rename{
    display: flex;
    flex-direction: column;
}
.alleevees{
    display: flex;
    flex-direction: row;
}
.stones{
    display: flex;
    flex-direction: column;
}
.ivehadenough{
    display: flex;
    flex-direction: column;
}
h1 {
    color:white
}
h2 {
    width: 300px;
    color: pink
}
h3 {
    color: pink
}
body {
    background-color: white;
}
